h1.frontend-bootstrap-component-1
  | {{ 'TEST.TITLE' | translate }}

.creation-container
  h4.subtitle
    | {{ 'TEST.BY' | translate }}
  .mural-workspace#container(ng-dblclick='comp1Ctrl.addNew($event)' ng-click='comp1Ctrl.clearSelect($event)')
    postit(ng-repeat='postit in comp1Ctrl.postits track by $index' draggable elem='{{postit}}' element='postit')
.note
  h6.reference
    | {{ 'TEST.REFERENCE1' | translate }}
  h6.reference
    | {{ 'TEST.REFERENCE2' | translate }}
  h6.reference
    | {{ 'TEST.REFERENCE3' | translate }}
  h6.reference
    | {{ 'TEST.REFERENCE4' | translate }}
